.mat-row:nth-child(even){
    background-color: #e5e4f0;
}
.mat-header-cell{
    background-color: #c7cff7;
    text-align: center;
}
.mat-cell{
    text-align: center;
}
.width{
    width: 14.2%;
    text-align: center;

}
input{
    width: 16px;
    border: none;
}
th{
    width: 14.2%;
    padding: none;
}
mat-card{
    padding: none;
}