 <div fxLayout="row" fxLayoutAlign="space-around center" style="background-color: #4651A6;color: white;">
  <div>
    <h2>Welcome {{test}}</h2>
  </div>
  <div>
    <small>{{month}}</small> &nbsp;&nbsp;&nbsp;
    <small>{{year}}</small>
  </div>
  <div>
    <button matTooltip="Log out" mat-raised-button (click)="onlogout()" ><span class="material-icons">logout</span></button>
  </div>
</div>

<!-- *********************************** -->
<!-- form field -->
<div fxLayout="row" fxLayoutGap='5%' style="margin: 2% 5%;" >
  <a routerLink="add"><button matTooltip="Add Row"  mat-raised-button color="primary" ><span class="material-icons">playlist_add</span></button></a>
  <a routerLink="history"><button matTooltip="Check History"  mat-raised-button color="primary" ><span class="material-icons">history</span></button></a>
  <a routerLink="check"><button matTooltip="Check Meal" mat-raised-button color="primary" ><span class="material-icons">playlist_add_check</span></button></a>
  <a><button matTooltip="Check Amount"  mat-raised-button color="primary" (click)="checkamount()" ><span class="material-icons">paid</span></button></a>
</div>

<!-- id Column -->
<div  fxLayout="column" style="overflow: auto;" fxLayoutAlign="center center" class="example-list" >
  <table mat-table [dataSource]='datasource' class="example-box" cdkDropList (cdkDropListDropped)="drop($event)" class="mat-elevation-z8" style="width:90%;" id="table">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> <b>Date</b>  </th>
      <td mat-cell *matCellDef="let element">
        <div >{{element.date}} </div> 
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> <b>Name</b>  </th>
      <td mat-cell *matCellDef="let element">
        <div >{{element.name}} </div>  
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> <b>Description</b>  </th>
      <td mat-cell *matCellDef="let element"> 
        <div >{{element.description}}</div> 
      </td>
    </ng-container>

    <!-- user-name******* -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> <b>Amount</b>  </th>
      <td mat-cell *matCellDef="let element"> 
        <div >{{element.amount}}</div> 
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <a (click)="onedit(element)"><button matTooltip="Edit Row"  mat-raised-button color="primary" ><span class="material-icons">edit_note</span></button></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <button matTooltip="Delete Row"  mat-raised-button color="primary" (click)="ondelete(element)"><span class="material-icons">delete</span></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999" style="color: red;">
        No data to show . Please enter some data.
      </td>
    </tr>
  </table> 
</div>
<mat-paginator  #paginator class="mat-paginator-sticky" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>




