<div fxLayout="row" fxLayoutAlign="space-around center" style="background-color: #4651A6;color: white;">
    <div>
      <h2>Hello {{test}}</h2>
    </div>
    <div>
      <button matTooltip="Home"  mat-raised-button color="white"  (click)="onHome()"><span class="material-icons">home</span></button>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card style="width: 87%;">
        <form action="" [formGroup]="newForm"  >
            <div fxLayout="row" fxLayoutAlign="space-around center" >
                <mat-form-field appearance="outline" style="width: 40%;">
                    <mat-label>Please choose Month</mat-label>
                    <mat-select formControlName="month"  name="month" id="month">
                        <mat-option *ngFor="let i of monthNames" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="month?.hasError('required')">Please enter month</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 40%;">
                    <mat-label>Please choose Year</mat-label>
                    <mat-select formControlName="year"  name="year" id="year">
                        <mat-option *ngFor="let i of yearRange" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="year?.hasError('required')">Please enter year</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap=5%>
                <button  mat-raised-button color="primary" [disabled]="newForm.invalid" (click)="onHistory()"> View History </button>
                <button  mat-raised-button color="primary" color="warn"  (click)="onCancel()"> Cancel</button>
            </div>
        </form>
    </mat-card>
</div>
<div style="display: none;" id="matTab">
    <mat-tab-group>
        <mat-tab label="Pay List">
            <div  fxLayout="column" style="overflow: auto;" fxLayoutAlign="center center" class="example-list" >
                <table mat-table [dataSource]='dataSource' class="example-box" class="mat-elevation-z8" style="width:90%;" id="table">
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> <b>Date</b>  </th>
                    <td mat-cell *matCellDef="let element">
                      <div >{{element.date}} </div> 
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> <b>Name</b>  </th>
                    <td mat-cell *matCellDef="let element">
                      <div >{{element.name}} </div>  
                    </td>
                </ng-container>
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> <b>Description</b>  </th>
                    <td mat-cell *matCellDef="let element"> 
                      <div >{{element.description}}</div> 
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> <b>Amount</b>  </th>
                    <td mat-cell *matCellDef="let element"> 
                      <div >{{element.amount}}</div> 
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" ></tr>
                  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999" style="color: red;">
                      No data matching this entry
                    </td>
                  </tr>
                </table> 
            </div>
            <!-- <mat-paginator  #paginator class="mat-paginator-sticky" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>               -->
        </mat-tab>
        <mat-tab label="Meal List">
          <div fxLayout="column" fxLayoutAlign="center center">
            <table mat-table [dataSource]='datasource' class="example-box" class="mat-elevation-z8" style="width:90%;" id="table">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> <b>Date</b>  </th>
                <td mat-cell  *matCellDef="let element">
                  <div>{{element.date}} </div> 
                </td>
              </ng-container>
              <ng-container matColumnDef="Chinmoy">
                <th mat-header-cell *matHeaderCellDef> <b>Chinmoy</b>  </th>
                <td mat-cell *matCellDef="let element">
                  <div > <mat-checkbox id="colour"  disabled  [checked]= element.Chinmoy   [indeterminate] = !element.Chinmoy class="example-margin" ></mat-checkbox> </div> 
                </td>
              </ng-container>
              <ng-container matColumnDef="Kamal">
                <th mat-header-cell *matHeaderCellDef> <b>Kamal</b>  </th>
                <td mat-cell *matCellDef="let element">
                  <div ><mat-checkbox [checked]= element.Kamal disabled   [indeterminate] = !element.Kamal class="example-margin" ></mat-checkbox> </div> 
                </td>
              </ng-container>
              <ng-container matColumnDef="Pratim">
                <th mat-header-cell *matHeaderCellDef> <b>Pratim</b>  </th>
                <td mat-cell *matCellDef="let element">
                  <div ><mat-checkbox disabled [checked]= element.Pratim  [indeterminate] = !element.Pratim class="example-margin"  ></mat-checkbox> </div> 
                </td>
              </ng-container>
              <ng-container matColumnDef="Sourav">
                <th mat-header-cell *matHeaderCellDef> <b>Sourav</b>  </th>
                <td mat-cell *matCellDef="let element">
                  <div ><mat-checkbox disabled [checked]= element.Sourav [indeterminate] = !element.Sourav class="example-margin" ></mat-checkbox> </div> 
                </td>
              </ng-container>
              <ng-container matColumnDef="Subhankar">
                <th mat-header-cell *matHeaderCellDef> <b>Subhankar</b>  </th>
                <td mat-cell *matCellDef="let element">
                  <div  ><mat-checkbox disabled [checked]= element.Subhankar   [indeterminate] = !element.Subhankar class="example-margin"></mat-checkbox> </div> 
                </td>
              </ng-container>
              <ng-container matColumnDef="Swagata">
                <th mat-header-cell *matHeaderCellDef> <b>Swagata</b>  </th>
                <td mat-cell *matCellDef="let element">
                  <div ><mat-checkbox disabled [checked]= element.Swagata   [indeterminate] = !element.Swagata class="example-margin"></mat-checkbox></div> 
                </td>
              </ng-container>
              <tr mat-header-row  *matHeaderRowDef="displayColumns" ></tr>
              <tr mat-row  *matRowDef="let row; columns: displayColumns;" ></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999" style="color: red;">
                  No data matching this entry
                </td>
              </tr>
            </table>
          </div>
          <!-- <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator> -->
        </mat-tab>
    </mat-tab-group>
</div>
